<h1>Users</h1>

{{#each model as |user|}}
  <div>
      <div>Name: {{user.name}}</div>
      <div>Email: {{user.email}}</div>
  </div>
{{/each}}

<h2>New User</h2>
<div>Name: {{input type="text" value=name}}</div>
<div>Email: {{input type="text" value=email}}</div>
<button {{action 'save'}}>Save</button>
